.description{
	margin-top: 20rpx;
	padding-bottom: 20rpx;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap; 
	flex-direction: row;
	justify-content: flex-start;
	display: flex;
	white-space:pre-wrap;
}
.name{
	margin-left: 15rpx;
	width: 150rpx;
	justify-content: center;
}
.detail{
	-webkit-flex: 1;
	flex: 1;
	flex-wrap: wrap;
}
.remark{
	display: inline-block;
	margin-top: 10rpx;
	width: 150rpx;
}
.remarkDetail{
	padding-left: 30rpx;
	padding-right: 30rpx;
	padding-top: 5rpx;
	padding-bottom: 6rpx;
	border-radius: 40rpx;
	color: #ffffff;
}
.hs-create{
	width: 95%;
	border-radius: 50rpx;
	background-color: #0CBCC2;
	margin-top: 30rpx;
	color: #ffffff;
	margin-bottom: 15rpx;
}
.hs-feedback{
	color: #0CBCC2;
	position: relative;
	left: 200rpx;
	padding-bottom: 40rpx;
}
.pop{
	width: 600rpx;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Name{
	color: #0D72BE;
	padding: 10rpx 30rpx;
	padding-top: 30rpx;
	width: 530rpx;
	display: flex;
	justify-content: left;
	letter-spacing: 2rpx;
}
.detailInfo{
	border: 1rpx solid #c8c8c8;
	padding: 10rpx 30rpx;
	padding-top: 10rpx;
	width: 450rpx;
	display: flex;
	justify-content: left;
	letter-spacing: 2rpx;
}
.hs-choose-pic{
		display: flex;
		margin-left: 20rpx;
		margin-right: 30rpx;
		padding-top: 20rpx;
		padding-bottom: 40rpx;
		padding-left: 30rpx;
		font-size: 35rpx;
}