.hs-content{
	width: 100%;
	height: 100%;
}
.hs-content {
	// background: url("../../static/login.png") no-repeat;
	background-size: cover;
	
	.hs-form{
		display: block;
		padding-top: 40upx;
	}
	.hs-tel-wrap, .hs-psd-wrap {
		width: 80%;
		margin: 0 auto;
		position: relative;
		height: 100upx;
		border: 1upx solid #eee;
		border-radius: 52rpx;
		.iconfont {
			position: absolute;
			left: 27upx;
			top: 25upx;
			font-size: 48upx;
			color: #83ABC7;
		}
		.hs-show{
			z-index: 2;
			position: absolute;
			left: 500upx;
			top: 24upx;
			font-size: 51upx;
			color: #83ABC7;
		}
		.hs-eye-active {
			z-index: 2;
		    color: #007AFF;
		}
		input{
			padding-left: 100upx;
			padding-top: 28upx;
			font-size: 36upx;
		}
	}
	.hs-tel-wrap{
		margin-bottom: 20upx;
	}
	.hs-psd-wrap{
		margin-bottom: 80upx;
	}
	.hs-login-btn{
		width: 80%;
		margin: 0 auto 40upx;
		background: #0D72BE;
		border-radius: 80upx;
		color: #fff;
		font-size: 32upx;
	}
	.hs-login-btn-disable{
		background:#83ABC7;
	}
	.hs-plh-psw,.hs-plh-tel{
		color: #83ABC7;
	}
	.tel,.psd{
		color: #007AFF;
	}
	.head-container{
		background-color: #0D72BE;
		padding-top: 120rpx;
		padding-bottom: 170rpx;
		border-radius: 400px/71px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.hs-logo{
		background-color: #fff;
		position: relative;
		left: 250rpx;
		margin: 15rpx;
		width: 200rpx;
		height: 160rpx;
		padding-left: 15rpx;
		padding-right: 15rpx;
		padding-top: 25rpx;
		padding-bottom: 25rpx;
		border-radius: 35rpx;
	}
	.hs-title{
		position: relative;
		top:85rpx;
		word-break:keep-all;
		white-space:nowrap;
		left: 126rpx;
		color: #fff;
		font-weight: 700;
		font-size: 47rpx;
		
	}
}