	.border{
		height: 460rpx;
		overflow: hidden;
	}
	.active{
		height: auto;
		overflow: visible;
	}
	.content{
		margin-top: 35rpx;
		margin-bottom: 10rpx;
		flex-direction: row;
		justify-content: flex-start;
		display: flex; 
	}
	.projectName{
		display: flex;
		justify-content: center;
	}
	.projectName-info{
		word-wrap: break-word;
		word-break: break-all;
		white-space: pre-line;
		display: flex;
		align-items: center;
		flex-direction: row;
		
	}
	.location{
		color: #0CBCC2; 
		display: flex;
		justify-content: left;
		margin-top: 5rpx;
	}
	.borderDown{
		margin-bottom: 15rpx;
	}
	.contentDown{
		flex-flow: row;
		justify-content: flex-start;
		display: flex;
		padding-bottom: 15rpx;
		border-bottom: 1rpx solid #F0F3F5;
	}
	.status{
		padding-top:25rpx ;
	}
	.leader,.teaminfo,.end-time{
		padding-left: 32rpx;
		padding-top: 10rpx;
	}
	.check{
		width: 65%;
		padding-left: 1rpx;
		padding-top: 25rpx;
		padding-bottom: 15rpx;
	}
	
	.show-container{
		font-size: 35rpx;
		color: #399CFF;
		text-align: center;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		display: flex;
		margin-bottom: 40rpx;
	}
	.show-icon{
		text-align: left;
		width: 50%;
	}
	.show-text{
		text-align: right;
		width: 50%;
	}
	.check-before{
		width: 10px;
		height: 15px;
		border-top: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		margin-top: 25rpx;
		margin-left: 15rpx;
	}
	