@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1681091233515') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before {
  content: "\f02a9";
}

.icon-xiangshang:before {
  content: "\f02aa";
}

.icon-shanchu2:before {
  content: "\f012a";
}

.icon-xiangxia1:before {
  content: "\e771";
}

.icon-jiahao:before {
  content: "\e613";
}

.icon-chazhao:before {
  content: "\e60f";
}

.icon-jinggao:before {
  content: "\e62d";
}

.icon-maikefeng:before {
  content: "\e8c2";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-yonghu:before {
  content: "\e8c9";
}

.icon-paizhao:before {
  content: "\e872";
}

.icon-wenjianguanli:before {
  content: "\e615";
}

.icon-new_document:before {
  content: "\e63a";
}

.icon-zhinanzhen:before {
  content: "\e644";
}

.icon-mima:before {
  content: "\e612";
}

.icon-xiazai_o:before {
  content: "\eb9d";
}

.icon-xiugaimima:before {
  content: "\e681";
}

.icon-shexiangtou:before {
  content: "\eca5";
}

.icon-xiangyou:before {
  content: "\e626";
}

.icon-24gf-ellipsis:before {
  content: "\eb10";
}

.icon-chakan:before {
  content: "\e62f";
}

.icon-dingwei:before {
  content: "\e620";
}

.icon-shouji:before {
  content: "\e614";
}

.icon-ditu:before {
  content: "\e622";
}

.icon-qingjiashenqing:before {
  content: "\e6b6";
}

.icon-wodexiangmu:before {
  content: "\e637";
}

.icon-caidan_23:before {
  content: "\e76b";
}

